/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, font, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

:focus {
	outline: 0;
}
/* // Reset */

body {
	background: url(images/bck2.png); /* image for body made with Photoshop using noise filter (gaussian monochromatic) on #ccc */
	font-family: Georgia, Verdana, Lucida Sans Unicode, sans-serif;
	font-size: 12px;
	color: #999;
}

h2 {
	font-style: italic;
	font-weight: normal;
	line-height: 1.2em;
}

div#container {
	margin: 10px auto 0px auto; /* centered */
	width: 974px;
}

.escudo {
	background-image: url("images/palmeirasnovo.png");
    position: absolute;
    left: -195px;
    top: 20px;
    width: 585px;
    height: 555px;
    z-index: 90;
    transform: rotate(-6deg);
	-ms-transform: rotate(-6deg); /* IE 9 */
	-webkit-transform: rotate(-6deg); /* Safari and Chrome */
	-o-transform: rotate(-6deg); /* Opera */
	-moz-transform: rotate(-6deg); /* Firefox */
}


.bubble {
	clear: both;
	margin-bottom: 10px;
	width: 924px;
	background: #fff;
	-moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);	
	position: relative; 
	z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */
}

.ribbon-top{
 	/*background-image: url("images/ribbon-top.png");
    box-shadow: -3px -10px 10px #0D714F;
    height: 170px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 180px;
    z-index: 2;*/
   	background-image: url("images/ribbon-top3.png");
    /*box-shadow: 5px -10px 10px #0D714F;*/
	box-shadow: 1px -3px 5px #E2DEDF;
    height: 170px;
    left: 765px;
    position: absolute;
    top: 0;
    width: 180px;
    cursor: pointer;
    z-index: 2;
}
.rectangle {
	background: #649B7A;
	height: 50px;
	width: 954px;
	position: relative;
	left:-15px;
	top: 260px;
	float: left;
	/**-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);*/
  	/**-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);*/
  	/**-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);*/
	z-index: 100; /* the stack order: foreground */
}

.rectangle h2 {
	font-size: 30px;
	color: #fff;
	padding-top: 6px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: center;
}

.triangle-l {
	border-color: transparent #58896C transparent transparent;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: -30px;
	top: 295px;
	z-index: -1; /* displayed under bubble */
}

.triangle-r {
	border-color: transparent transparent transparent #58896C;
	border-style:solid;
	border-width:15px;
	height:0px;
	width:0px;
	position: relative;
	left: 924px;
	top: 265px;
	z-index: -1; /* displayed under bubble */
}

.rectangle span{
	color: #024F2E;
}

.banner{
	width: auto;
	height: 348px;
	position: relative;
	top: -60px;
	z-index: 1;
}

#slider{
	height: 348px;
   	margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 700px;
}

.info {
	padding: 10px 25px 35px 25px;
	margin-top: -50px;
}

.info h2 {
	font-size: 20px;
}

.info p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
}

.info p a {
	color: #c4591e;
	text-decoration: none;
}

.info p a:hover {
	text-decoration: underline;
}

.rec-item {
  	background: none repeat scroll 0 0 #E2373D;
    float: left;
    height: 40px;
    left: -25px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 0;
    width: 250px;
    z-index: 100;
}

.rec-item h2 {
	font-size: 30px;
	color: #fff;
	padding-top: 0px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 0px;
}

.rec-item-l {
    border-color: #D43338 #D43338 #D43338 transparent;
    border-style: solid;
    border-width: 18px;
    height: 0;
    left: -61px;
    position: relative;
    top: 10px;
    width: 0;
    z-index: -10000;
}

.rec-item-r {
	border-color: transparent transparent transparent #E2373D;
    border-style: solid;
    border-width: 20px;
    height: 1px;
    left: 244px;
    position: relative;
    top: -36px;
    width: 0;
    z-index: -1;
}

.info-content{
	margin-bottom: 10px;
}
